<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Weather!{% endblock %}</title>
</head>
<body>
{% block body %}
    {{ forecast }}


    <div style="padding-top: 3em; margin-left: 45em">
        <form method="get" action="{{ path('refresh') }}">
            <button style="color: royalblue">refresh</button>
        </form>
    </div>

{% endblock %}
</body>
</html>
